.hero{
	background-color: $w-sand;
	background-image: url(../images/main.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 100% center;
	display: flex;
	align-items: center;
	height: calc(100vh - 60px);
	&__main{
		max-width: 470px;
		width: 100%;
		text-align: left;
		&-title{
			text-align: left;
			margin-bottom: 27px;
		}
		&-subtitle{
			margin-bottom: 35px;
		}
		&-txt{
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 0;
		}
		&-button{
			.link{
				text-transform: uppercase;
			}
		}
	}
}
.main{
	padding: 150px 0 140px;
	&__page{}
	&-title{}
	&__row{
		display: flex;
		justify-content: center;
		&:not(:last-child){
			margin-bottom: 80px;
		}
		&-reverse{
			flex-direction: row-reverse;
			.main__row-content{
				align-self: center;
			}
		}
		&-img{
			width: 370px;
			height: 370px;
			margin: 0px 15px;
			> img{
				display: block;
				width: 100%;
			}
		}
		&-content{
			max-width: 370px;
			width: 100%;
			margin: 0px 15px;
			padding: 0 5px;
			text-align: center;
			align-self: flex-end;
			&-title{
				margin-bottom: 20px;
			}
			&-desc{
				line-height: 28px;
				color: $gray;
				margin-bottom: 36px;
			}
			&-link{
				.link{
					font-size: 14px;
					font-weight: 500;
					line-height: 25px;
					text-transform: uppercase;
					color: $b-ribbon;
					letter-spacing: 0.1em;
				}
			}
		}
	}
}
.results{
	padding: 150px 0;
	background-color: $r-blue;
	&__page{}
	&-title{
		color: $white;
		margin-bottom: 70px;
	}
	&__row{
		color: $white;
		display: flex;
		justify-content: center;
		&-col{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 14px;
		}
		&-number{
			font-size: 72px;
		}
		&-caption{
			font-size: 24px;
			margin-bottom: 10px;
		}
		&-desc{
			line-height: 28px;
			max-width: 170px;
			text-align: center;
		}
	}
}
.media{
	padding: 140px 0;
	background-color: $w-sand;
	&__page{}
	&-title{}
	&-subtitle{
		text-align: center;
		max-width: 370px;
		margin: 0 auto 100px;
		font-size: 18px;
		font-family: $raleway;
		font-weight: 800;
		line-height: 32px;
	}
	&__row{
		display: flex;
		justify-content: center;
		flex-wrap: wrap; 
		margin: 0 -15px 15px;
		&-col{
			max-width: 270px;
			flex: 1 1 270px;
			margin: 0 15px 15px;
			height: 100%;
			transition: .3s ease;
			&:hover{
				box-shadow: 0 15px 20px rgba(159, 159, 159, 0.2);
			}
		}
		&-link{
			display: block;
			max-width: 270px;
			width: 100%;
			min-height: 345px;
		}
		&-view{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 8px;
			background-image: url(../images/03.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 160px;
			width: 100%;
			.widget{
				color: $white;
				font-size: 14px;
				line-height: 25px;
				display: flex;
				justify-content: space-between;
				&-items{
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					margin-bottom: 0;
					&:after{
						content: '';
						display: block;
						background: url(../images/clock-circular-outline.svg) no-repeat center;
						height: 16px;
						width: 16px;
						margin-right: 4px;
					}
				}
				.date{}
				.news{
					&:after{
						content: '';
						background: url(../images/tag.svg) no-repeat center;
						width: 20px;
					}
				}
			}
			.tags{
				color: $white;
				font-size: 14px;
				line-height: 25px;
				display: flex;
				&-items{
					margin-right: 12px;
				}
				&-link{}
			}
		}
		&-img{}
		&-desc{
			background-color: $white;
			display: flex;
			flex-direction: column;
			padding: 20px;
			border-radius: 0px 0px 3px 3px;
			.desc{
				font-family: $raleway;
				font-weight: bold;
				font-size: 14px;
				line-height: 25px;
				margin: 0 0 24px;
				height: 100%;
			}
			.statistic{
				display: flex;
				&-list{
					margin-right: 10px;
				}
				&-link{
					display: flex;
					&:before{
						content: '';
						display: block;
						width: 15px;
						height: 15px;
						background-image: url(../images/icon01.svg);
						background-repeat: no-repeat;
						background-position: center;
						margin-right: 4px;
					}
					// .share{
					// 	&:before{
					// 		content: '';
					// 		background-image: url(../images/icon01.svg);
					// 	}
					// }
					// .count{
					// 	&:before{
					// 		content: '';
					// 		background-image: url(../images/icon02.svg);
					// 	}
					// }
				}
			}
		}
	}
	.view_more{
		text-align: center;
		&-link{
			display: block;
			font-weight: 500;
			line-height: 28px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
}
.join{
	padding: 133px 0 110px;
	position: relative;
	&-col{
		&-right{
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
		}
	}
	&__page{
		max-width: 370px;
		width: 100%;
		margin: 0 117px 0px 90px;
	}
	&-title{
		max-width: 330px;
		text-align: left;
		margin: 0 0 24px;
	}
	&-desc{
		text-align: left;
		margin-bottom: 24px;
	}
	&-btn{
		text-align: left;
	}
	&-img{
		height: 100%;
		> img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}