.hero{
	position: relative;
	padding: 150px 0;
	display: flex;
	align-items: center;
	height: calc(100vh - 60px);
	background-color: $w-sand;
	@include media('<tablet'){
		flex-direction: column;
		padding: 50px 0;
		height: auto;
	}
	@include media('<phone'){
		padding: 32px 0;
	}
	&-container{
		@include media('<tablet'){
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

	}
	&__page{
	
	}
	&__main{
		max-width: 470px;
		width: 100%;
		text-align: left;
		@include media('<phone'){
			text-align: center;
		}
		&-title{
			text-align: left;
			margin-bottom: 27px;
			@include media('<phone'){
				font-size: 28px;
				margin-bottom: 22px;
				text-align: center;
			}
		}
		&-subtitle{
			margin-bottom: 35px;
			@include media('<phone'){
				margin-bottom: 28px;
			}
		}
		&-txt{
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 0;
			@include media('<phone'){
				font-size: 16px;
				line-height: 28px;
			}
		}
		&-button{
			.link{
				text-transform: uppercase;
			}
		}
	}
	&__pic{
		position: absolute;
		left: 30%;
		width: 100%;
		height: 100%;
		@include media('<tablet'){
			display: none;
		}
		&-img{
			height: 100%;
			> img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__tablet{
		margin: -32px -75px;
		display: none;
		@include media('<tablet'){
			display: block;
		}
		&-img{
			> img {
				display: block;
				width: 100%;
			}
		}
	}
}
.main{
	padding: 150px 0 140px;
	@include media('<tablet'){
		padding: 55px 0 45px;
	}
	@include media('<phone'){
		padding: 32px 0 35px;
	}
	&__page{}
	&-title{
		@include media('<phone'){
			font-size: 24px;
			line-height: 1.25;
			margin: 0 0 18px;
		}
	}
	&__row{
		display: flex;
		justify-content: center;
		opacity: 0;
		transition: opacity .3s ease, transform .3s ease;
		transform: translateY(150px);
		@include media('<phone'){
			flex-direction: column;
			align-items: center;
		}
		&.show{
			opacity: 1;
			transform: translateY(0);
		}
		&:not(:last-child){
			margin-bottom: 80px;
			@include media('<tablet'){
				margin-bottom: 32px;
			}
		}
		&-reverse{
			flex-direction: row-reverse;
			@include media('<phone'){
				flex-direction: column;
			}
			.main__row-content{
				align-self: center;
			}
		}
		&-img{
			width: 370px;
			height: 370px;
			margin: 0px 15px;
			@include media('<phone-xs'){
				max-width: 320px;
				width: 100%;
				height: auto;
				margin: 0;
			}
			> img{
				display: block;
				width: 100%;
			}
		}
		&-content{
			max-width: 370px;
			width: 100%;
			margin: 0px 15px;
			padding: 0 5px;
			text-align: center;
			align-self: flex-end;
			@include media('<phone'){
				align-self: initial;
			}
			&-title{
				margin-bottom: 20px;
			}
			&-desc{
				line-height: 28px;
				color: $gray;
				margin-bottom: 36px;
				@include media('<phone'){
					margin-bottom: 24px;
				}
				@include media('<phone-xs'){
					margin-bottom: 18px;
				}
			}
			&-link{
				.link{
					font-size: 14px;
					font-weight: 500;
					line-height: 25px;
					text-transform: uppercase;
					color: $b-ribbon;
					letter-spacing: 0.1em;
				}
			}
		}
	}
}
.results{
	padding: 150px 0;
	background-color: $r-blue;
	opacity: 0;
	transition: opacity .5s ease, transform .5s ease;
	transform: translateY(150px);
	@include media('<tablet'){
		padding: 55px 0 45px;
	}
	@include media('<phone'){
		padding: 32px 0 35px;
	}
	&.show{
		opacity: 1;
		transform: translateY(0px);
	}
	&__page{}
	&-title{
		color: $white;
		margin-bottom: 70px;
		@include media('<tablet'){
			margin-bottom: 45px;
		}
		@include media('<phone'){
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 32px;
		}
	}
	&__row{
		color: $white;
		display: flex;
		justify-content: center;
		@include media('<phone-xs'){
			flex-direction: column;
		}
		&-col{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 14px 12px;
			flex: 1 1 170px;
			max-width: 170px;
			padding: 0 8px;
			@include media('<phone'){
				flex: 1 1 auto;
				max-width: initial;
				margin: 0 8px 12px;
				padding: 0px 4px;
			}
		}
		&-number{
			font-size: 72px;
			display: block;
			line-height: 1.25;
			margin-bottom: 12px;
			opacity: 0;
			transition: opacity .5s ease;
			@include media('<tablet'){
				font-size: 48px;
			}
			@include media('<phone'){
				font-size: 32px;
			}
			&.active{
				opacity: 1;
			}
		}
		&-caption{
			font-size: 24px;
			margin-bottom: 10px;
			display: block;
			@include media('<phone'){
				font-size: 18px;
			}
		}
		&-desc{
			line-height: 28px;
			max-width: 170px;
			text-align: center;
			display: block;
			@include media('<tablet'){
				line-height: 1.25;
			}
			@include media('<phone'){
				max-width: initial;
				width: 100%;
			}
		}
	}
}
.media{
	padding: 140px 0;
	background-color: $w-sand;
	@include media('<tablet'){
		padding: 75px 0;
	}
	@include media('<phone'){
		padding: 50px 0 ;
	}
	&__page{}
	&-title{
		font-size: 32px;
	}
	&-subtitle{
		text-align: center;
		max-width: 370px;
		margin: 0 auto 100px;
		font-size: 18px;
		font-family: $raleway;
		font-weight: 800;
		line-height: 32px;
		@include media('<phone'){
			margin: 0 auto 50px;
		}
	}
	&__row{
		display: flex;
		justify-content: center;
		// flex-wrap: wrap; 
		margin: 0 -15px 15px;
		@include media('<tablet'){
			flex-wrap: wrap;
			margin: 0;
		}
		&-col{
			max-width: 270px;
			// flex: 1 1 270px;
			margin: 0 8px 15px;
			height: 100%;
			transition: .3s ease;
			@include media('<tablet'){
				// bac
				margin: 0 0 15px;
				padding: 0px 10px;
				max-width: 50%;
				width: 100%;
			}
			@include media('<phone'){
				max-width: initial;
				flex: 1 1 auto;
			}
			&:hover{
				box-shadow: 0 15px 20px rgba(159, 159, 159, 0.2);
			}
			&:nth-child(2){
				.media__row-view{
					background-image: url(../images/04.jpg);
				}
			}
			&:nth-child(3){
				.media__row-view{
					background-image: url(../images/05.jpg);
				}
			}
			&:last-child{
				.media__row-view{
					background-image: url(../images/06.jpg);
				}
			}
		}
		&-link{
			display: block;
			// max-width: 270px;
			width: 100%;
			min-height: 345px;
			@include media('<phone'){
				max-width: 100%;
				min-height: 324px;
			}
		}
		&-view{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 8px;
			background-image: url(../images/03.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 160px;
			width: 100%;
			.widget{
				color: $white;
				font-size: 14px;
				line-height: 25px;
				display: flex;
				justify-content: space-between;
				&-items{
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					margin-bottom: 0;
					&:after{
						content: '';
						display: block;
						background: url(../images/clock-circular-outline.svg) no-repeat center;
						height: 16px;
						width: 16px;
						margin-right: 4px;
					}
				}
				.date{}
				.news{
					&:after{
						content: '';
						background: url(../images/tag.svg) no-repeat center;
						width: 20px;
					}
				}
			}
			.tags{
				color: $white;
				font-size: 14px;
				line-height: 25px;
				display: flex;
				&-items{
					margin-right: 12px;
				}
				&-link{}
			}
		}
		&-img{}
		&-desc{
			background-color: $white;
			display: flex;
			flex-direction: column;
			padding: 20px;
			border-radius: 0px 0px 3px 3px;
			@include media('<tablet'){
				min-height: 132px;
				justify-content: space-between;
			}
			.desc{
				font-family: $raleway;
				font-weight: bold;
				font-size: 14px;
				line-height: 25px;
				margin: 0 0 24px;
				height: 100%;
			}
			.statistic{
				display: flex;
				&-list{
					margin-right: 10px;
					&:first-child{
						.share{
							&:before{
								content: '';
								display: block;
								width: 15px;
								height: 15px;
								background-image: url(../images/icon01.svg);
								background-repeat: no-repeat;
								background-position: center;
								margin-right: 4px;
							}
						}
					}
					&:last-child{
						.count{
							&:before{
								content: '';
								display: block;
								width: 25px;
								height: 15px;
								background-image: url(../images/icon02.svg);
								background-repeat: no-repeat;
								background-position: center;
								margin-right: 4px;
							}
						}
					}
				}
				&-link{
					display: flex;
				}
			}
		}
	}
	.view_more{
		text-align: center;
		&-link{
			display: block;
			font-weight: 500;
			line-height: 28px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
}
.join{
	padding: 133px 0 110px;
	position: relative;
	@include media('<tablet'){
		padding: 0;
	}
	&-container{
		@include media('<tablet'){
			display: flex;
			flex-direction: column-reverse;
		}
	}
	&-col{
		&-right{
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			@include media('<tablet'){
				position: static;
				margin: 0 -15px;
			}
		}
	}
	&__page{
		max-width: 370px;
		width: 100%;
		margin: 0 117px 0px 90px;
		@include media('<tablet'){
			max-width: 70%;
			margin: 0 auto;
			padding: 32px 0px;
		}
		@include media('<phone'){
			max-width: 100%;
		}
	}
	&-title{
		max-width: 330px;
		text-align: left;
		margin: 0 0 24px;
		@include media('<tablet'){
			max-width: initial;
			text-align: center;
			font-size: 32px;
		}
		@include media('<phone'){
			font-size: 24px;
			line-height: 1.25;
			margin: 0 0 18px;
		}

	}
	&-desc{
		text-align: left;
		margin-bottom: 24px;
		@include media('<tablet'){
			text-align: center;
		}
		@include media('<phone'){
			line-height: 24px;
			margin: 0 0 18px;
		}
	}
	&-btn{
		text-align: left;
		@include media('<tablet'){
			text-align: center;
		}
	}
	&-img{
		height: 100%;
		> img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}