/* header */
.header-page{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	font-size: 14px;
	line-height: normal;
	font-weight: 400;
	text-align: center;
	z-index: 200;
	background-color: $white;
	.header{
		display: flex;
		justify-content: space-between;
		min-height: 60px;
		align-items: center;
		position: relative;
		&__logo{
			max-width: 134px;
			cursor: pointer;
			&-link{
				display: block;
				width: 100%;
				.logo{
					display: block;
					width: 100%;
				}
			}
		}
		&__nav{
			&-list{
				display: flex;
				margin: 0 -21px;
				@include media('<tablet'){
					flex-direction: column;
					margin: 0;
				}
			}
			&-items{
			}
			&-link{
				display: block;
				padding: 10px 21px;
				color: $black;
				@include media('<tablet'){
					font-size: 18px;
				}
			}
		}
		&__menu{
			margin-right: 100px;
			@include media('<tablet'){
				margin: 0px 0px 80px 0;
			}
		}
		&__contact{
			@include media('<tablet'){
				display: none;
			}
			.header__nav{
				&-list{
					flex-direction: column;
					align-items: flex-end;
					margin: 0;
				}
				&-items{}
				&-link{
					padding: 0;
					line-height: 20px;
				}
			}
			.mail{
				&-link{
					position: relative;
					padding-left: 23px;
					&:after{
						content: '';
						background-image: url(../images/mail.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						position: absolute;
						top: 50%;
						left: 5px;
						transform: translate(0,-50%);
						display: block;
						width: 13px;
						height: 10px;
					}
				}
			}
		}
		&__mobile{
			display: flex;
			@include media('<tablet'){
				position: absolute;
				flex-direction: column;
				top: 60px;
				left: 0;
				right: 0;
				background-color: $white;
				margin: 0 -15px;
				height: calc(100vh - 60px);
				padding-bottom: 32px;
				overflow-y: scroll;
			}
		}
		&__address{
			display: none;
			@include media('<tablet'){
				display: block;
			}
			.header__contact-list{
				max-width: 230px;
				width: 100%;
				margin: 0 auto;
			}
			.header__contact-items{
				&:first-child{
					margin-bottom: 32px;
				}
			}
		}
		.burger{
			height: 35px;
			width: 35px;
			padding: 5px;
			display: none;
			cursor: pointer;
			@include media('<tablet'){
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&.menu-open{
				// transform: rotate(180deg);
				// transition: rotate 3s;
				// transition: transform .3s ease, top .3s ease;
				span{
					transition: transform .3s ease, top .3s ease;
					visibility: hidden;
					&:after,
					&:before{
						transition: transform .3s ease, top .3s ease;
						visibility: visible;
						top: 0;
						bottom: 0;
						margin: 0;
						transform: rotate(135deg);
					}
					&:before{
						content: '';
						transform: rotate(-135deg);	    
					}
				}
			}
			span{
				display: block;
				width: 100%;
				height: 3px;
				background-color: $black;
				position: relative;
				visibility: visible;
				transition: all .3s ease;
				// transition: transform .3s ease, top .3s ease;
				// transition: .3s ease;
				&:after,
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background-color: $black;
					margin: 5px 0;
					position: absolute;
					bottom: 100%;
					transform: rotate(180deg);
					transition: transform .3s ease;
				}
				&:after{
					content: '';
					top: 100%;
					transform: rotate(-180deg);
				}
			}
		}
	}
}
